* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cutive Mono", monospace;
  background-color: rgb(221, 243, 251);
  overflow-x: hidden;
}

.gotop {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  border: 2px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 5%;
  right: 2%;
  cursor: pointer;
  opacity: 0;
}

.square {
  font-size: 30px;
}

.my-nav {
  width: 100vw;
  height: 3rem;
  background-color: rgb(221, 243, 251);
  display: flex;
  justify-content: space-between;
}

.my-logo {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-left: 2rem;
}

.nav-list {
  width: 40%;
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav-list a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
  transition: all 0.5s ease;
}

.nav-list a:hover {
  color: blueviolet;
}

.main-content {
  display: flex;
  width: 100vw;
  height: 100vh;
  /* border: 2px solid black; */
}

.left-content {
  width: 60%;
  /* background-color: burlywood; */
  font-family: "Cutive Mono", monospace;
  display: flex;
  align-items: center;
}

.right-content {
  width: 40%;
  right: 0;
  align-items: center;
  /* background-color: cadetblue; */
}

.right-content img {
  mix-blend-mode: darken;

  /* transition: all 2s; */
  transform: scale(0);
  animation: comeIn 2.5s linear 0.8s 1 forwards;
  overflow: hidden;
}

@keyframes comeIn {
  to {
    transform: scale(1);
  }
}

.author-detail {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-left: 5%;
}

.author-name {
  font-size: 5rem;
  opacity: 0;
  transform: translateX(-5rem);
  animation: fadeInUp 4s ease 1 forwards;
}

.description {
  font-size: 1.5rem;
  font-weight: bold;
  word-spacing: 0.5rem;
  opacity: 0;
  animation: detail 3s ease 2s 1 forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes detail {
  to {
    opacity: 1;
  }
}

.download {
  height: 3rem;
  /* width: 100%; */
  margin-top: 4%;
  padding: 4px 8px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border: 2px solid grey; */
  border-radius: 15px;
  cursor: pointer;
  background-color: rgb(89, 81, 81);
  color: white;
  transition: all 0.5s linear;
}

.download:hover {
  background-color: rgb(46, 43, 43);
}

.download a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  letter-spacing: 1px;
}

/* about section style */
.about-content {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading-style {
  font-size: 4rem;
}

.about-description {
  font-size: 1.2rem;
  font-weight: bold;
  word-spacing: -3px;
  width: 80%;
  text-align: center;
}

.user-image {
  margin-top: 10px;
}

.user-image img {
  margin-top: 1rem;
  width: 250px;
  border-radius: 10px 80px 10px 80px;
  outline: 4px solid rgb(221, 243, 251);
  outline-offset: -10px;
  transition: 0.3s;
}

.user-image img:hover {
  outline: 4px solid black;
  outline-offset: 10px;
  /* filter: blur(2px); */
}

.work-box {
  /* border: 2px solid black; */
  margin: 0.8%;
  height: 10rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work-area-box {
  margin: 10px;
  border: 2px solid grey;
  height: 8rem;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px;
  border-radius: 20px;
  transition: 0.3s;
}

.work-area-box:hover {
  transform: scale(1.1);
}

.experience i {
  font-size: 30px;
}
.completed i {
  font-size: 30px;
}
.available i {
  font-size: 30px;
}

/* Skill section */

.skill-area {
  height: 100vh;
}

.skill-heading {
  text-align: center;
  margin: 1rem 0;
}

.skil-types {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.skill-box {
  height: 300px;
  width: 250px;
  border: 2px solid lightblue;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* transition: all 2s linear ; */
}
/* 
.skill-box:hover{
  transform: rotateY(180deg);
  background-color: antiquewhite;
} */

.skill-head h4 {
  height: 20%;
  font-size: 1.5rem;
  letter-spacing: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skils-and-softwares {
  height: 80%;
  /* height: 70%;
  background-color: antiquewhite; */
  display: flex;
  flex-direction: column;

  /* justify-content: space-between;
  align-content: space-between; */
}
.brand {
  margin: 4px;
  padding: 3px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  cursor: pointer;
}

.brand h5 {
  width: 30%;
  text-align: start;
  margin-left: 5px;
}

.brand img {
  height: 30px;
  width: 30px;
  /* padding-left: 10px; */
}

/* footer area */

.footer-area {
  margin-top: 2rem;
  height: 100vh;
}

.footer-content {
  /* height: 400px;/ */
  display: flex;
  /* border: 2px solid gray; */
}

.contact {
  width: 100%;
  text-align: center;
}

.contact-me {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contact-me form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  margin-bottom: 2rem;
}

.contact-me form input {
  width: 100%;
  height: 2rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  padding: 10px;
}

.contact-me form textarea {
  width: 100%;
  height: 10rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  padding: 10px;
  resize: none;
}

.contact-me form button {
  width: 40%;
  height: 2rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  /* padding: 10px; */
  /* text-align: center; */
}

.contact-me form input,
button,
textarea {
  border: none;
}
